[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rtnmin"]
	path = Rtnmin
	url = https://github.com/cran/Rtnmin
[submodule "nlmrt"]
	path = nlmrt
	url = https://github.com/cran/nlmrt
[submodule "nlsr"]
	path = nlsr
	url = https://github.com/nashjc/nlsr
[submodule "optextras"]
	path = optextras
	url = https://github.com/cran/optextras
[submodule "optimx"]
	path = optimx
	url = https://github.com/nashjc/optimx
