[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rcgmin"]
	path = Rcgmin
	url = https://github.com/cran/Rcgmin
[submodule "Rtnmin"]
	path = Rtnmin
	url = https://github.com/cran/Rtnmin
[submodule "Rvmmin"]
	path = Rvmmin
	url = https://github.com/cran/Rvmmin
[submodule "nlmrt"]
	path = nlmrt
	url = https://github.com/cran/nlmrt
[submodule "nlsr"]
	path = nlsr
	url = https://github.com/cran/nlsr
[submodule "optextras"]
	path = optextras
	url = https://github.com/cran/optextras
[submodule "optimr"]
	path = optimr
	url = https://github.com/cran/optimr
[submodule "optimx"]
	path = optimx
	url = https://github.com/nashjc/optimx
